web/sites/*/settings.local.php
/web/sites/*/services*.yml

!/web/sites/*/services.yml

/web/sites/*/files
/web/sites/*/private

/web/sites/simpletest

/drush/Commands/contrib/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/web/private/scripts/quicksilver

/vendor/

/.editorconfig
/.gitattributes

/.drush-lock-update

/web/**/.gitignore
/web/themes/custom/gotjunk_us/node_modules

/web/sites/default/robots-copy.txt
~/
/tmp/*
/web/sites/default/settings.php
/web/sites/development.services.yml
